{% extends 'base.html' %}
{% block projectsactive %}active{% endblock projectsactive %}
{% block title %}
  Projects
{% endblock title %}
{% block body %}
      <div class="container-fluid my-3">
        <h1 class="text-center my-3">Glance at me</h1>
        <div class="row">
          <div class="col-md-3">
            <div class="card" style="width: 18rem">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/3qBi6HWZMeg/300x300"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Travelling</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">click for demo</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 18rem">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/1IW4HQuauSU/300x300"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Developer</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">click for demo</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 18rem">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/iacpoKgpBAM/300x300"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Testing</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">click for demo</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 18rem">
              <img
                class="card-img-top"
                src="https://source.unsplash.com/0XrXeb4pUMM/300x300"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Working Idia</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">click for demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock body %}